body {
    font-size: 20px;
    padding: 1em;
    background: url("../imagenes/logo.svg") fixed no-repeat;
    background-size: 200px;
    background-position: bottom 1.5em right 1.5em;
}

h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #3D4D59;
}

a, a:link {
    color: #82005E;
    text-decoration: none;
}

a, a:hover {
    color: #82005E;
    text-decoration: underline;
}

a, a:active {
    color: #82005E;
    text-decoration: none;
}

a, a:visited {
    color: #82005E;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px solid #3D4D59;
    padding-bottom: 1em;
}