version: "3.5"

services:

  https-portal:
    image: steveltn/https-portal:${HTTPS_PORTAL_VERSION}
    environment:
      # noinspection HttpUrlsUsage
      DOMAINS: >
        dockerbox.test -> http://nginx:80,
        phpmyadmin.dockerbox.test -> http://phpmyadmin:80,
        mailcatcher.dockerbox.test -> http://mailcatcher:1080,
        phpredisadmin.dockerbox.test -> http://phpredisadmin:80,
        vite.dockerbox.test -> http://php:5173,
        ${EXTRA_SITES}
      CLIENT_MAX_BODY_SIZE: 1024M
      SERVER_NAMES_HASH_BUCKET_SIZE: 1024
      WEBSOCKET: true
      STAGE: local
    volumes:
      - https-portal_certs:/var/lib/https-portal
      - https-portal_logs:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      default:
        aliases:
          - dockerbox.test
    depends_on:
      - nginx
      - phpmyadmin
      - mailcatcher

  mariadb:
    image: mariadb:${MARIADB_VERSION}
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MARIADB_AUTO_UPGRADE=true
    volumes:
      - mariadb_data:/var/lib/mysql
    expose:
      - 3306

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx.dev
      args:
        - NGINX_VERSION=${NGINX_VERSION}
    volumes:
      - ./nginx/:/etc/nginx/conf.d/
      - ./sites:/var/www/html:delegated
    expose:
      - 80
    depends_on:
      - php

  php:
    hostname: php
    build:
      context: .
      dockerfile: Dockerfile.php.dev
      args:
        - PHP_VERSION=${PHP_VERSION}
        - ALPINE_VERSION=${ALPINE_VERSION}
    environment:
      - php.display_errors=on
      - php.error_reporting=E_ALL
      - PHP_XDEBUG_MODE=develop,coverage,debug
      - PHP_XDEBUG_REMOTE_HOST=host.docker.internal
      - PHP_XDEBUG_REMOTE_PORT=9003
      - PHP_XDEBUG_REMOTE_CONNECT_BACK=yes
      - PHP_XDEBUG_IDEKEY=dockerbox
    volumes:
      - ./sites:/var/www/html:delegated
    depends_on:
      - mariadb
      - redis

  phpmyadmin:
    image: phpmyadmin:${PHPMYADMIN_VERSION}
    environment:
      - PMA_HOST=mariadb
      - PMA_PORT=3306
      - PMA_ABSOLUTE_URI=https://phpmyadmin.dockerbox.test
      - PMA_USER=root
      - PMA_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - UPLOAD_LIMIT=1g
    expose:
      - 80
    depends_on:
      - mariadb

  redis:
    image: redis:${REDIS_VERSION}-alpine
    volumes:
      - redis_data:/data
    expose:
      - 6379

  mailcatcher:
    image: stpaquet/alpinemailcatcher:${MAILCATCHER_VERSION:-latest}

  phpredisadmin:
    image: erikdubbelboer/phpredisadmin:${PHPREDISADMIN_VERSION:-latest}
    environment:
      - REDIS_1_HOST=redis
      - REDIS_1_NAME=dockerbox
      - REDIS_1_PORT=6379
    expose:
      - 80
    depends_on:
      - redis

volumes:
  https-portal_certs:
  https-portal_logs:
  mariadb_data:
  redis_data:
