# Versiones de los contenedores

PHP_VERSION=7.3
MARIADB_VERSION=10.3
PHPMYADMIN_VERSION=latest

# Variables de configuración para el entorno de desarrollo

DEV_MYSQL_ROOT_PASSWORD=12345Abcde
DEV_MYSQL_DATABASE=dockerbox
DEV_MYSQL_USER=dockerbox
DEV_MYSQL_PASSWORD=12345Abcde

DEV_WEB_PORT=80

DEV_PHPMYADMIN_PORT=8080

# Variables de configuración para el entorno de producción

PROD_MYSQL_ROOT_PASSWORD=12345Abcde
PROD_MYSQL_DATABASE=dockerbox
PROD_MYSQL_USER=dockerbox
PROD_MYSQL_PASSWORD=12345Abcde

PROD_WEB_PORT=80

PROD_PHPMYADMIN_PORT=8080
