# Versiones de los contenedores

PHP_VERSION=8.0
MARIADB_VERSION=10.5
REDIS_VERSION=6.0
PHPMYADMIN_VERSION=latest
NGINX_VERSION=1.19
HTTPS_PORTAL_VERSION=1
MAILDEV_VERSION=latest

# Variables de configuración para el entorno de desarrollo

MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=dockerbox
MYSQL_USER=dockerbox
MYSQL_PASSWORD=12345Abcde

# Depuración con Xdebug

# Dirección IP del equipo local
# En macOS se puede usar este gist para fijarla: https://gist.github.com/ralphschindler/535dc5916ccbd06f53c1b0ee5a868c93
XDEBUG_REMOTE_HOST=10.254.254.254

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=dockerbox

# Sitios adicionales
EXTRA_SITES=""
