# Versiones de los contenedores
PHP_VERSION=8.2
ALPINE_VERSION=3.22
MARIADB_VERSION=11.8
REDIS_VERSION=8
PHPMYADMIN_VERSION=latest
PHPREDISADMIN_VERSION=latest
NGINX_VERSION=mainline
HTTPS_PORTAL_VERSION=1
MAILPIT_VERSION=latest

# Variables de configuración para el entorno de desarrollo
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=dockerbox
MYSQL_USER=dockerbox
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=dockerbox

# Sitios adicionales
EXTRA_SITES=
